[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.dependencies]
# workspace members
bnfgen = { path = "crates/bnfgen-core" }

# shared dependencies
miette = { version = "7.6.0" }
rand = "0.9.2"
